<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Club</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Football</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/indexHome">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Players
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/indexPlayer">Players</a></li>
                        <li><a class="dropdown-item" href="/indexAddPlayer">Add</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clubs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/indexClub">Clubs</a></li>
                        <li><a class="dropdown-item" href="/indexAddClub">Add</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div style="margin: 25px 50px 75px 50px">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Short name</th>
        <th scope="col">Location</th>
        <th scope="col">Owner</th>
        <th scope="col">Chairman</th>
        <th scope="col">Coach</th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <tr th:each="club : ${clubList}">
        <td th:text="${club.name}" ></td>
        <td th:text="${club.short_name}" ></td>
        <td th:text="${club.location}" ></td>
        <td th:text="${club.owner}" ></td>
        <td th:text="${club.chairman}" ></td>
        <td th:text="${club.coach}" ></td>
    </tr>
    </tbody>
</table>
</div>
<br/>
<div >
<button style= "margin-left:30px;" type="button" class="btn btn-primary" href="/indexAddPlayer">
    <a  style = "color : white; text-decoration: none;" href="/indexAddClub">Add Club</a>
</button>
<button style= "margin-left:30px;" type="button" class="btn btn-primary" href="/indexAddPlayer">
    <a  style = "color : white; text-decoration: none;" href="#">Remove Club</a>
</button>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>