<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Add Club</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Football</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/indexHome">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Players
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/indexPlayer">Players</a></li>
                        <li><a class="dropdown-item" href="/indexAddPlayer">Add</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clubs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/indexClub">Clubs</a></li>
                        <li><a class="dropdown-item" href="/indexAddClub">Add</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<form style="margin: 25px 50px 5px;">
    <div style="margin: 5px 5px 5px;" class="form-group">
        <label >Full name</label>
        <input class="form-control"  >
    </div>

    <div style="margin: 5px 5px 5px;" class="form-group">
        <label >Short name</label>
        <input class="form-control">
    </div>

    <div style="margin: 5px 5px 5px;" class="form-group">
        <label >Location</label>
        <input class="form-control">
    </div>
    <div style="margin: 5px 5px 5px;" class="form-group">
        <label >Owner</label>
        <input class="form-control" >
    </div>
    <div style="margin: 5px 5px 5px;" class="form-group">
        <label >Chairman</label>
        <input class="form-control" >
    </div>
    <div style="margin: 5px 5px 5px;" class="form-group">
        <label >Coach</label>
        <input class="form-control" >
    </div>

</form>

<button style="margin: 5px 55px 75px;" type="submit" class="btn btn-primary">Add</button>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>